{% extends 'base.html' %} 
{% load static %} 



{% block content %}

  <h2 class="m-2 text"><strong>Свяжитесь с нами:</strong></h2>
  <div class="btn-group a">
    <a class="m-3" href="#">
      <button type="button" class="but custom-shadow rounded">
        Почта
      </button>
      </a>
    <a class="m-3" href="#">
      <button class="but custom-shadow rounded">
        Мы в ВК
      </button>
    </a>
    <a class="m-3" href="#">
      <button class="but custom-shadow rounded">
        Телефон
      </button>
    </a>
    <a class="m-3" href="#">
      <button class="but custom-shadow rounded">
        Мы в instagram
      </button>
    </a>
  </div>

{% endblock %}
