{% extends 'base.html' %} 
{% load static %} 

{% block content %}
    
    {% if albums %}
    <h4 class="text">Альбомы</h4>
    <br>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between; width: 94%; margin-left: 3%;">
            {% for album in albums %}
                <div class="cart_songs">  
                    <div>
                        {% if album.image %}
                            <img src="{{ album.image.url }}" alt="img" width="98%" height="90%">
                        {% else %}
                            <img src="{% static 'deps/images/Not found image.png' %}" alt="img" width="98%" height="90%">
                        {% endif %}
                        <a class="a_song" href="{% url 'albums:details_album' album.slug %}">{{ album.name }}</a>   
                        <p style="display: flex; justify-content: center; color: rgb(212, 195, 195);">{{ album.date_realeese.year }}</p>
                       
                    </div>
                </div>
            {% endfor %}  
        </div>
    
    <hr style="color: rgb(7, 40, 40); margin-bottom: 3%;">
    {% endif %}
    {% if singles %}
    <h4 class="text">Синглы</h4>
    <br>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; width: 90%; margin-left: 5%;">
        {% for single in singles %}
            <div class="cart_songs">  
                <div>
                    {% if single.image %}
                        <img src="{{ single.image.url }}" alt="img" width="100%" height="90%">
                    {% else %}
                        <img src="{% static 'deps/images/Not found image.png' %}" alt="img" width="100%" height="90%">
                    {% endif %}
                    <a class="a_song" href="{% url 'albums:details_single' single.slug %}">{{ single.name }}</a>   
                    <p style="display: flex; justify-content: center; color: rgb(212, 195, 195);">{{ single.date_realeese.year }}</p>
                    
                </div>
            </div>
        {% endfor %}
    </div>
        <hr style="color: rgb(7, 40, 40); margin-bottom: 3%;">
    {% endif %}
{% endblock %}