{% extends 'base.html' %}
{% load static %}
{% load merch_shop_tags %}


{% block content %}
    <div class="row">
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; width: 90%; margin-left: 5%; margin-bottom: 5%;">
    {% for product in products %}
        <div class="cart_songs">  
            <div>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="img" width="100%" height="60%">

                {% else %}
                    <img src="{% static 'deps/images/Not found image.png' %}" alt="" width="100%" height="60%">

                {% endif %}
                <a class="a_song" href="{% url 'merch_shop:product' product.slug product.name %}">{{ product.name }}</a> 
                {% if product.bodyline %}
                    <p style="text-align:center; color: aliceblue;">
                        {{ product.boadyline|truncatechars:100 }}
                    </p>    
                {% else %}
                    <p style="text-align:center; color: aliceblue;">
                        {{ product.description|truncatechars:25 }}
                    </p>
                        
                {% endif %}
                <!--есть ли скидка на товар-->
                {% if product.discount %}
                    <p style="text-align:center; color: aliceblue;">цена: {{ product.sell_price }} руб.</p>
                {% else %}
                    <p style="text-align:center; color: aliceblue;">цена: {{ product.price }} руб.</p> 
                {% endif %} 
                <br>
                <a class="a_song" href="#" type="button">купить</a>      
            </div>
        </div>
    {% endfor %}  
    </div>
    <hr style="display: flex; margin: auto; color: rgb(11, 50, 50); margin-bottom: 3%; margin-top: 1%; width: 97%;">
    </div>
{% endblock %}

{% block pagination %}
    <!-- Пагинация -->
    {% if products %}
    <nav class="content pag">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">
                <li class="page-item {% if not merch_shop.has_previous %}disabled{% endif %}">
                    <a class="page-link" 
                        href="{% if merch_shop.has_previous %}?{% change_params page=merch_shop.previous_page_number %}{% else %}#{% endif %}">Назад</a>
                </li>

                {% for page in products.paginator.page_range %} 
                    {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                        <li class="page-item {% if merch_shop.number == page %} active {% endif %}">
                            <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                        </li>
                    {% endif %} 
                {% endfor %}
            
                <li class="page-item {% if not merch_shop.has_next %}disabled{% endif %}">
                    <a
                        class="page-link"
                        href="{% if merch_shop.has_next %}?{% change_params page=merch_shop.next_page_number %}{% else %}#{% endif %}">Следующая</a>
                </li>
            </div>
        </ul>
    </nav>
    {% endif %}
{% endblock %}