{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div style="display: flex; align-items: center; justify-content: space-between;">
        {% if product.image %}
            <div style="width: 40%; margin-left: 5%;">
                <img src="{{ product.image.url }}" alt="img" width="90%" height="100%">
            </div>
        {% else %}
            <div style="width: 40%; margin-left: 5%;">
                <img src="{% static 'deps/images/Not found image.png' %}" alt="img" width="90%" height="100%">
            </div>
        {% endif %}
        <div style="width: 55%;">
            <p style= "color: aliceblue;">id: {{ product.display_id }}</p>
            <p style="color: aliceblue;">{{ product.description }}</p>
        </div>
        
    </div>
    <br>
    <!-- Описание товара -->
    <p class="p_news">Цена: <strong>{{ product.price }}</strong></p>
    {% if product.discount %}
        <p class="card-text">Цена со скидкой: <strong>{{ product.sell_price }}</strong></p>
    {% endif %}
    <h5 class="p_news">{{ product.name }}</h5>
    <div style="display: flex; margin: auto; justify-content: center; margin-bottom: 4%;">
        {% if 'https://' in product.buy_url %}
            <a href="{{ product.buy_url }}" class="details">купить</a>
        {% else %}
            <a href="https://{{ product.buy_url }}" class="details">купить</a>    
        {% endif %}
    </div>
                   
{% endblock %}
