{% load static %}
{% load merch_shop_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="{% static 'deps/css/bootstrap/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'deps/css/my_css.css' %}"/>

        <title>{{ title }}</title>
 
    </head>

    <body>
        
        <div class="up_fon_header">
            <h3>Официальный сайт группы "Сказки Черного Города"</h3>
        </div>
        
        <div class="up_fon">
               <img class="custom-shadow" src="/static/deps/images/bg-image.png" alt="img" width="76%" height="100%">  
        </div>
        <header>
            <nav class="navbar-expand-lg" data-bs-theme="dark">
                    <div class="collapse navbar-collapse button-in-line" id="navbarSupportedContent">
                        <div class="div">
                            <div class="nav-button">
                                <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'main:news' %}">
                                        <p class="text-on-button">
                                            НОВОСТИ
                                        </p>
                                    
                                    </a>
                                </button> 
                            </div>
                           
                        </div>
                        <div class="div">
                            <div class="nav-button">
                                <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'main:afisha' %}">
                                        <p class="text-on-button">
                                            АФИША
                                        </p>
                                    
                                    </a>
                                </button> 
                            </div>
                           
                        </div>
                        
                        <div class="div">
                            <div class="nav-button">
                               <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'main:about' %}">
                                        <p class="text-on-button">
                                            ГРУППА
                                        </p>
                                    </a>
                                </button>  
                            </div>
                        </div>
                        
                        <div class="div">
                            <div class="nav-button">
                                <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'albums:albums' %}">
                                        <p class="text-on-button">
                                            РЕЛИЗЫ
                                        </p>
                                    </a>
                                </button>
                            </div>  
                        </div>
                        
                        <div class="div">
                            <div class="nav-button">
                                <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'merch_shop:merch_shop' %}">
                                        <p class="text-on-button">
                                            МАГАЗИН
                                        </p>
                                    </a>
                                </button>
                            </div> 
                        </div>
                        
                        <div class="div">
                            <div class="nav-button">
                                <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'galery:galery' %}">
                                        <p class="text-on-button">
                                            ГАЛЕРЕЯ
                                        </p>
                                    </a>
                                </button>
                            </div>
                        </div>
                        
                        <div class="div">
                            <div class="nav-button">
                                <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'skazki_media:skazki_media' %}">
                                        <p class="text-on-button">
                                            МЕДИА
                                        </p>
                                    </a>
                                </button> 
                            </div>
                        </div>
                        
                        <div class="div">
                            <div class="nav-button">
                                <button class="btn-group">
                                    <a class="nav-link dropdown-toggle text-white" href="{% url 'info:info' %}">
                                        <p class="text-on-button">
                                            КОНТАКТЫ
                                        </p>
                                    </a>
                                </button> 
                            </div>
                        </div>

                        {% if not user.is_authenticated %}
                            <div class="div">
                                <div class="nav-button">
                                    <button class="btn-group">
                                        <a class="nav-link text-white" href="{% url 'user:login' %}">
                                            <p class="text-on-button">
                                                ВОЙТИ
                                            </p>
                                        </a>
                                    </button>
                                </div> 
                            </div>
                                
                        {% else %}
                            <a class="nav-link button_enter dropdown-toggle text-white"
                                href="#"
                                role="button" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                                <p class="text-on-button">
                                    ПРОФИЛЬ
                                </p>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-white" href="{% url 'user:users_cart' %}">Корзина</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-white" href="{% url 'user:profile' %}">Личный кабинет</a>
                                </li>
                                {% if user.is_admin or user.is_staff %}
                                    <li>
                                        <a class="dropdown-item text-white" href="{% url 'admin:index' %}">Админ панель</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider"/>
                                </li>
                                <li>
                                    <a class="dropdown-item text-white" href="{% url 'user:logout' %}">Выйти</a>
                                </li>
                            </ul>
 
                        {% endif %}
                    </div>
            </nav>
        </header>
        
        <aside class="custom-shadow">
            {% csrf_token %}
            <h5 style="color: rgba(203, 107, 33, 0.89); padding-left: 2%; margin-top: 2%;">Ближайшие концерты:</h5>
            <hr style="color: rgba(179, 78, 6, 0.885); padding-top: 0%;;">
            {% if concerts %}
            {% for concert in concerts %}
            
            <div style="display: inline-block; margin-left: 5%; width: 25%; background-color: aliceblue;">
                <p style="text-align: center; background-color: rgb(192, 64, 5);">{{ concert.get_month }}</p>
                <h4 style="text-align: center; padding-bottom: 3%;">{{ concert.date.day }}</h4>
            </div>
            <div style="float: right; display: inline-block; margin-right: 5%; width: 60%; color: aliceblue;">
                {{ concert.name }}
                <br>
                {{ concert.place }}
                <br>
                <a class="details" href="{% url 'main:details' concert.slug %}">подробнее...</a>
            </div>
                
            <hr style="border: none; border-top: 1px dotted bisque; width: 90%; margin: auto; margin-top: 2%; margin-bottom: 2%;" />
            {% endfor %}
            {% else %}
                <h5 style="display: block; text-align: center; color: aliceblue;">Ближайших концертов нет</h5>
            {% endif %}
        </aside>


        <main>
        <section>
            <!-- Контент -->
            <div class="content custom-shadow">
                <h5 style="color: rgba(203, 107, 33, 0.89); padding-left: 1%; padding-top: 1%;">{{ info_text }}</h5>
                <hr style="color: rgba(179, 78, 6, 0.885); padding-top: 0%;">
                <!-- Контент на странице --> 
                    {% block content %}{% endblock %}
                    {% include 'includes/notifications.html' %}
                    <div class="container">
                        <!-- Меню и корзина с фиксированным расположением на странице -->
                        <div>
                            <!-- Значек корзины, вызывает модальное окно -->
                            {% block modal_cart %}
                            {% endblock %}
                            <!-- Закончилась разметка модального окна -->
                        </div>
                    </div>
                    {% block pagination %}{% endblock %} 
                </div>
           
            
        </section>
        {% block footer %}
        {% endblock %}
        <script src="{% static 'deps/js/jquery/jquery-3.7.0.min.js' %}"></script>
        <script src="{% static 'deps/js/jquery-ajax.js' %}"></script>
        <script src="{% static 'deps/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
        </main>
    </body>
</html>

