{% extends 'base.html' %} 
{% load static %} 


{% block content %}
    <div style="margin-left: 2%; color: aliceblue;">
        {% for element in info %}
            <div style="display: block; color: rgb(165, 218, 196);">
                {{ element.date }}
            </div>
            <br>
            {% if element.image %}
                <div style="display: inline-block; width: 50%;">
                    {{ element.description }}
                </div>
                <div style="display: inline-block; width: 48%;">
                    <img src="{{ element.image.url }}"
                        class="img-fluid" alt="Изображение 1">
                </div>
                <br>
                
            {% else %}
                {{ element.description }}
                
            {% endif %}
            {% if element.videofile %}
                <br>
                <div class="modal-body image-in-news">
                    <video style="max-width: 65%; max-height: 35%;" controls>
                        <source src="{{ element.videofile.url }}" type="video/mp4">
                   </video>
                </div>
            {% endif %}
            <br>
            <hr>
        {% endfor %}
    </div>
    
{% endblock %} 

{% block footer %}
{% endblock %}
