{% extends 'base.html' %}
{% load static %}


{% block content %}
    
    {% if flug %}
        <p style="margin-left: 2%; margin-right: 2%; color: aliceblue;">{{ concert.description }}</p>
        <p style="margin-left: 2%; color: aliceblue;">место - {{ concert.place }}</p>
        {% if 'https://' in concert.tickets %}
            <a class="details1" href="{{ concert.tickets }}">Купить билеты</a>
        {% else %}
            <a class="details1" href="https://{{ concert.tickets }}">Купить билеты</a>
        {% endif %}

        {% if concert.image %}
            <br>
            <div class="modal-body image-in-news">
                <img src="{{ concert.image.url }}"
                    class="img-fluid" alt="Изображение 1" style="max-width: 70%; max-height: 50%;">
            </div>
        {% endif %}
        <br>

    {% else %}
            {% csrf_token %}
            {% if concerts %}
            {% for concert in concerts %}
                <div style="display: flex; justify-content: space-between; margin-left: 2%;">
                    <div style="width: 13%;">
                    <div style=" align-self: flex-start; background-color: aliceblue;">
                        <p style="text-align: center; background-color: rgb(192, 64, 5); margin-top: 0%;">{{ concert.get_month }}</p>
                        <h4 style="text-align: center; padding-bottom: 3%;">{{ concert.date.day }}</h4>
                    </div>
                    <p style="color: aliceblue; padding-left: 2%;">{{ concert.get_weekday }}</p>
                    </div>
                    <div style=" width: 85%; align-self: flex-start; color: aliceblue;">
                        <p>
                            {{ concert.name }} | {{ concert.place }}
                        </p>
                        <p>
                            {{ concert.description }}
                        </p>
                    </div>
                    
                </div>
                
                {% if 'https://' in concert.tickets %}
                    <a class="details1" href="{{ concert.tickets }}">Купить билеты</a>
                    
                {% else %}
                    <a class="details1" href="https://{{ concert.tickets }}">Купить билеты</a>
                {% endif %}
                {% if concert.image %}
                    <br>
                    <div class="modal-body image-in-news">
                        <img src="{{ concert.image.url }}"
                            class="img-fluid" alt="Изображение 1" style="max-width: 70%; max-height: 50%;">
                    </div>
                {% endif %}
                <br>
                <hr style="border: none; border-top: 1px dotted bisque; width: 90%; margin: auto; margin-top: 2%; margin-bottom: 2%;" />
                
            {% endfor %}
            {% else %}
                <h5 style="display: block; text-align: center; color: aliceblue;">Ближайших концертов нет</h5>
            {% endif %}
    {% endif %}

{% endblock %}