{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/my_footer_css.css' %}"/>
{% endblock %}

{% block content %}
    <div class="news">
        {% for new in news %}
            <h3>{{ new.name }}</h3>
            <p class="p_news">{{ new.description }}</p>
            {% if new.image %}
                <br>
                <div class="modal-body image-in-news">
                    <img src="{{ new.image.url }}"
                        class="img-fluid" alt="Изображение 1" style="max-width: 60%; max-height: 40%;">
                </div>
            {% endif %}
            <br>
            
            <hr style="color: bisque;">
        {% endfor %}
 
    </div>
{% endblock %}

{% block footer %}
{% endblock %}