{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="news">
        {% for new in news %}
        <div class="h-5">
            <h5>{{ new.name }}</h5>
        </div>
        <br>
            <p class="p_news">{{ new.description }}</p>
            {% if new.image %}
                <br>
                <div class="modal-body image-in-news">
                    <img src="{{ new.image.url }}"
                        class="img-fluid" alt="Изображение 1" style="max-width: 65%; max-height: 35%;">
                </div>
            {% endif %}
            {% if new.videofile %}
                <br>
                <div class="modal-body image-in-news">
                    <video style="max-width: 65%; max-height: 35%;" controls>
                        <source src="{{ new.videofile.url }}" type="video/mp4">
                   </video>
                </div>
            {% endif %}
            <br>
            <div class="up_fon_header">
            {% if new.address_1 %}
                {% if 'https://' in new.address_1 %}
                    <a class="details" href="{{ new.address_1 }}">{{ new.name_address_1 }}</a>
                {% else %}
                    <a class="details" href="https://{{ new.address_1 }}">{{ new.name_address_1 }}</a>
                {% endif %}
            {% endif %}
            <br>
            {% if new.address_2 %}
                {% if 'https://' in new.address_2 %}
                    <a class="details" href="{{ new.address_2 }}">{{ new.name_address_2 }}</a>
                {% else %}
                    <a class="details" href="https://{{ new.address_2 }}">{{ new.nmme_address_2 }}</a>
                {% endif %}
            {% endif %}
            {% if new.address_3 %}
                {% if 'https://' in new.address_3 %}
                    <a class="details" href="{{ new.address_3 }}">{{ new.name_address_3 }}</a>
                {% else %}
                    <a class="details" href="https://{{ new.address_3 }}">{{ new.name_address_3 }}</a>
                {% endif %}
            {% endif %}
            {% if new.address_4 %}
                {% if 'https://' in new.address_4 %}
                    <a class="details" href="{{ new.address_4 }}">{{ new.name_address_4 }}</a>
                {% else %}
                    <a class="details" href="https://{{ new.address_4 }}">{{ new.name_address_4 }}</a>
                {% endif %}
            {% endif %}
            </div>
            <hr style="color: bisque;">
        {% endfor %}
    </div>
{% endblock %}
