
body {
  background: linear-gradient(-45deg, #100518, #0d1620, #090c18, #051f1f);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h3 {
  color: rgba(240, 255, 255, 0.789);

}

.up_fon {
  display: flex;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  height: 55%;
}

.up_fon_header {
  padding-top: 1%;
  display: block;
  text-align: center;
}
.nav-button {
  display: flex;
  justify-content: center;
  background-color: #0c1010;
  width: 95%;
  border-radius: 10%;

}

.nav-button:hover {
  background-color: rgb(9, 23, 26);

}

.news {
  display: block;
  padding-left: 2%;
}

.text-on-button {
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 1cap;
}

.text-on-button:hover {
  color: rgb(147, 235, 247);
}

.div {
  display: flex;
  justify-content: center;
  width: 9%;
}

.button-in-line {
  display: flex;
  margin: auto;
  justify-content: center;
  padding-bottom: 1%;
  width: 94%;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.dropdown-toggle::after {
  content: none;
}

.text {
  text-align: center;
  color: antiquewhite;
  text-shadow: 2px -5px 7px #000000;
}

.a {
  padding-left: 25%;
}

.but {
  color: #171519;
  background-color: rgb(223, 187, 109);
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

aside {
  float: right;
  display: inline-block;
  background: rgb(14, 14, 16);
  width: 19%;
  margin-top: 1%;
  margin-right: 12%;

}


.content {
  display: inline-block;
  margin-left: 12%;
  margin-top: 1%;
  width: 55%;
  background-color: rgb(14, 14, 16);
}

.p_news {
  color: aliceblue;
  padding-left: 2%;
  padding-right: 2%;
}

.image-in-news {
  display: flex;
  margin: auto;
  justify-content: center;
}

.h-5 {
  display: flex;
  margin: auto;
  justify-content: center;
  color: rgba(240, 255, 255, 0.789);
  font-style: italic;
}

.details {
  display: inline-block;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: rgb(206, 228, 131);
}


.details1 {
  display: flex;
  margin: auto;
  justify-content: center;
  transition: transform 0.3s ease;
  text-decoration: none;
  color: rgb(206, 228, 131);
}

.details:hover {
  color: rgb(70, 118, 118);
  transform: scale(1.2);
}

.details1:hover {
  color: rgb(70, 118, 118);
  transform: scale(1.2);
}


.a_song {
  display: flex;
  justify-content: center;
  color: rgb(212, 195, 195);
  text-decoration: none;
  margin-top: 1%;
}

.a_song:hover {
  color:#8c4f08;
  transform: scale(1.2);
}

.cart_songs {
  display: flex; 
  margin: auto; 
  flex-basis: 24%; 
  justify-content: center; 
  margin-bottom: 2%; 
  margin-top: 2%;
}

.button_enter {
  display: flex;
  justify-content: center;
  background-color: #0c1010;
  width: 8%;
  margin-left: 0.2%;
  border-radius: 10%;

}

.button_enter:hover {
  background-color: rgb(9, 23, 26);
}

.pag {
  display: flex;
  margin: auto;
  justify-content: center;
}

.songs_in_album {
  color: rgb(228, 194, 194);
  text-decoration: none;
  margin-top: 1%;
}

.songs_in_album:hover {
  color:#5b4429;
  transform: scale(1.2);
}

.person {
  display: flex;
  margin: auto;
  justify-content: center;
}

.prof {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 1%;
  margin-left: 2%;
  color: aliceblue;
}

.person-a {
  text-decoration: none;
  color: #d8e7e6;

}
.person-a:hover {
  color:#26985d;
  transform: scale(1.2);
}

.urls {
  display: block;
  margin-top: 1%;
  margin-bottom: 4%;
}

.category {
  display: block; 
  max-width: 99%;
  max-height: 80%;
}

.date {
  display: flex;
  justify-content: right;
  margin-right: 1%;
  color: rgb(127, 130, 124);
}
